<div class="container">
  <div class="grid">
    <div class="col-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="col-12 p-fluid">
      <label for="descricao">Descrição</label>
      <input type="text" id="descricao" pInputText />
    </div>

    <div class="col-12">
      <label for="vencimento" class="display-block">Vencimento</label>
      <input type="text" id="de" class="data" pInputText />

      <label for="ate">Até</label>
      <input type="text" id="ate" class="data" pInputText />
    </div>

    <div class="col-12">
      <button type="submit" pButton>Pesquisar</button>
    </div>
  </div>

</div>
